.card-body div{
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 12px;
    border: 1ex solid #cdd4d2;
    box-shadow: 1px 1px 10px;
}
.btn-button{
    background-color: #272D2D;
}
.btn-button a {
    color:beige;
}